<h2 style="color: #1F2937; margin-top: 0;">You're Invited! 💌</h2>
<p>Hi {{name}},</p>
<p><b>{{inviterName}}</b> has invited you to join <b>{{eventTitle}}</b>.</p>
<p>Don't miss out on this event!</p>
<div style="text-align: center;">
    <a href="{{link}}" class="btn">Accept Invitation</a>
</div>
