<h2 style="color: #1F2937; margin-top: 0;">Verify Your Email</h2>
<p>Hi {{name}},</p>
<p>Please use the following One-Time Password (OTP) to complete your registration. This code is valid for <b>24 hours</b>.</p>
<div class="code-block">
    <div class="otp">{{code}}</div>
</div>
<p style="font-size: 14px; text-align: center;">If you didn't request this code, please ignore this email.</p>
